<section (mouseover)="onMouseOver()">
  <h1>Hello {{ city }}, {{ 1 + 1 }}</h1>
  <app-user></app-user>
  @if(isServerRunning) {
  <p>Yes, the server is running</p>
  } @else {
  <p>No, the server is not running</p>
  } @for (user of users; track user.id) {
  <p>{{ user.name }}</p>
  }
  <div [contentEditable]="isEditable"></div>
  <button (click)="greet()"></button>
  <app-child (addItemEvent)="addItem($event)"></app-child>
  <p>🐢 all the way down {{ items.length }}</p>
  @defer (on viewport){
  <app-comments />
  }@placeholder {
  <p>Future comments</p>
  } @loading {
  <p>Loading comments...</p>
  }
  <p>Username: {{ username }}</p>
  <p>Preferred Framework:</p>
  <ul>
    <li>
      Static Image:
      <img
        src="/assets/image/logo.svg"
        alt="Angular logo"
        style="width: 30px; height: 30px"
      />
    </li>
    <li>
      Dynamic Image:
      <img [src]="logoUrl" [alt]="logoAlt" style="width: 30px; height: 30px" />
    </li>
  </ul>
  <div class="image-container">
    <img ngSrc="/assets/image/faker.jpg" height="600" width="800" priority />
  </div>
  <nav>
    <a routerLink="/">Home</a>
    |
    <a routerLink="/user">User</a>
  </nav>
  <router-outlet />
  <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
    <label
      >Name
      <input type="text" formControlName="name" />
    </label>
    <label
      >Email
      <input type="email" formControlName="email" />
    </label>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</section>
